/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #008B8B;
  /*background-image: linear-gradient(to bottom, #315481, #918e82 400%);*/
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.logo {
  max-width: 600px;
/*  margin: 0 auto;
  min-height: 100%;*/
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  /*background: white;*/
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}




.niuSearch {
  /*position: fixed;*/
  top: 30%;
  margin-left: auto;

  /*box-sizing: border-box;*/
  width: 100%;
  height: 50%;
  padding: 3px 3px 3px 3px;
  background: #6af;
}

.niuSearch-input {
  height: 30px;
  width: 100%;
  font-size: 16px;
  background: white;
  /*box-sizing: border-box;*/
}


.niuResult {
  padding: 60px 10px 0;
/*  background: #eee;*/
}

.niuItem {
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 10px;
  background: white;
  box-shadow: 0 2px 0 #ccc;
}

.niuItem_title {
  font-size: 16px;
  margin-bottom: 6px;
}

.niuItem_desc {
  font-size: 14px;
  color: #444;
}